RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^blog(\/*)$ blog.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^blog/([^\.]+)$ blog.php?page=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]