@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

::selection {
    background: #4c4c4c;
    color: #fff;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    min-width: 900px;
}

body.landing-home {
    background: url(img/page.png) repeat-y center;
}

.regular-content header {
    background: #fff;
}

header {
    padding: 20px 0px;
    margin: 0 auto;
    line-height: 30px;
    width: 900px;
    position: fixed;
    left: 0;
    right: 0;
}

header h1 {
    margin: 0;
    padding: 0;
}

header h1 span {
    font-size: 0.7em;
    color: #005E82;
}

header h1 a {
    text-decoration: none;
    color: #000;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ccc;
    transition: color 75ms, border 200ms;
    border-bottom: 2px solid transparent;
    padding: 1px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #005E82;
}

nav ul li.login {
}

nav ul li.login a {
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
}

nav ul li .icon {
    padding-left: 6px;
}

nav ul li.join-btn {
    padding-right: 0;
}

nav ul li.join-btn a {
    color: #fff !important;
    text-decoration: none;
    background: #0984FF;
    padding: 7px 14px 7px 20px;
    border-radius: 3px;
    transition: background 100ms;
    border: none;
}

nav ul li.join-btn a:hover {
    background: #005E82;
    border: none;
}


.regular-content nav ul li a {
    color: #666;
}
.regular-content nav ul li a:hover {
    color: #202020;
}
.regular-content nav ul li.login a {
    color: #000;
}

.landing {
    padding: 140px 0 70px 0;
    margin: 0 auto;
    width: 900px;
}

.icon-how {
    padding: 0 14px 0 0;
}
.icon-features {
    padding: 0 17px 0 3px;
}
.icon-pricing {
    padding: 0 13px 0 1px;
}
.icon-airplane {
    padding-left: 5px;
}

.landing-left, .landing-right {
    width: 420px;
}

.landing-left {
    position: fixed;
    height: 100%;
    padding-right: 30px;
}

.landing-left .hero h2 {
    font-weight: normal;
    font-size: 2.3em;
    margin: 0;
    padding: 0 0 30px 0;
}

.landing-left .hero h3 {
    font-weight: normal;
    color: #666;
    margin: 0;
    padding: 0 0 50px 0;
}



.landing-right {
    padding-left: 30px;
    float: right;
    color: #fff;
}

.landing-right h2 {
    font-weight: normal;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.landing-right .vertical-spacer {
    display: block;
    margin: 250px 0;
}

.landing-right .vertical-spacer-small {
    display: block;
    margin: 50px 0;
}

.landing-right table.features {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    font-size: 0.9em;
    color: #ccc;
}

.landing-right table.features tr td {
    width: 50%;
    vertical-align: top;
    padding-bottom: 20px;
    padding-right: 10px;
}

.landing-right table.features h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #fff;
}

.landing-right table.features h3 .icon-feature {
    display: inline-block;
    width: 20px;
    font-size: 1.6em;
    text-align: center;
    padding-right: 10px;

}

.landing-right table.features .description {
    margin-left: 33px;
}

.landing-right table.features .description a {
    text-decoration: none;
    color: #fff;
}

.landing-right table.features .description a:hover {
    text-decoration: underline;
}

.landing-right .pricing {
    font-weight: normal;
}

.landing-right .pricing span {
    font-size: 2em;
}

a.signup-button, button.signup-button {
    color: #fff;
    text-decoration: none;
    background: #0984FF;
    display: block;
    width: 250px;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    transition: background 100ms;
    cursor: pointer;
}

button.signup-button {
    font: inherit;
    margin: 0 auto;
    border: none;
}

a.signup-button:hover, button.signup-button:hover {
    background: #005E82;
}

.join-box {
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

.join-success {
    margin: 0;
    padding: 0;
    line-height: 3em;
    padding-bottom: 5px;
    padding-left: 40px;
}

.join-success .icon {
    font-size: 2em;
    margin-left: -40px;
    margin-top: -2px;
    position: absolute;
}


.join-box .header {
    margin: 0 0 20px 0;
    padding: 0;
}

.signup-textbox {
    font: inherit;
    font-size: 2em;
    width: 450px;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #999;
    border-radius: 3px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ccc;
}


.main {
    width: 900px;
    margin: 0 auto;
    padding-top: 100px;
}

.regular-content .signup-cta {
    left: 0;
    right: 0;
    background: #eee;
    padding: 70px 0 60px 0;
    min-width: 900px;
    width: 100%;
    margin-top: 50px;
}

.regular-content .signup-cta.fixed {
    position: absolute;
    bottom: 100px;
    margin-top: 0;
}

.regular-content .signup-cta .box {
    margin: 0 auto;
}

.signup-cta .box {
    width: 250px;
    text-align: center;
}

.signup-cta .extra {
    color: #666;
    font-size: 0.85em;
}


.contact {
    text-align: center;
    margin-top: 40px;
}

.contact h3 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.contact h2 {
    font-size: 5em;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 0;
}

.contact h2 a {
    color: #000;
    text-decoration: none;
}

.contact p {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #666;
}


.about {
    width: 700px;
    margin: 0 auto;
}

.about h2 {
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 40px 0;
    padding: 0;
}

.about h3 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 40px 0 0 0;
    padding: 0;
}

.about p {
    line-height: 1.7em;
}

.about a {
    color: #0984FF;
    text-decoration: none;
}
.about a:hover {
    color: #0984FF;
    text-decoration: underline;
}

.about .reasons {
    margin: 0;
    padding: 0 0 0 20px;
}

.about .reasons li {
    padding: 3px 3px 3px 10px;
}


footer.main {
    width: 100%;
    padding: 0;
    bottom: none;
}

footer.main.fixed {
    bottom: 0;
}

footer.main .container {
    width: 900px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

footer.main .right {
    float: right;
    padding-bottom: 30px;
    text-align: right;
}

.landing-home footer {
    bottom: 170px; /* Height of .landing (+ padding) */
}

footer {
    width: 900px;
    color: #999999;
    position: absolute;
    font-size: 0.9em;
}

footer p {
    margin: 0;
    padding: 5px 0 0 0;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0 0 10px 0;
}

footer ul li {
    display: inline;
    margin: 0 5px;
}

footer ul li.first {
    margin: 0;
}

footer ul li a {
    color: #0984FF;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border 200ms;
}

footer ul li a:hover {
    border-bottom: 1px solid #aaa;
}
